<extend name="Public/common" />
<block name="body">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑权限</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <input type="hidden" name="auth_id" value="{$authInfo.id}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上级权限</label>
                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="pid" id="pid">
                                        <option value="0">顶级权限</option>
                                        <volist name="auth" id="auth">
                                            <option value="{$auth.id}" <if condition="($auth['id'] eq $authInfo['pid'])"> selected="selected" </if> >{$auth.level}{$auth.name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">权限名称</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" value="{$authInfo.name}" placeholder="请填写权限名称" id="name">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">控制器方法</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="path" value="{$authInfo.path}" placeholder="请填写控制器方法，例如Member/memberList" id="path">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    状态
                                </label>

                                <div class="col-sm-10">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="0" name="status" <if condition="($authInfo.status eq 0)"> checked="checked" </if> > <i></i> 启用</label>
                                        <label><input type="radio" value="1" name="status" <if condition="($authInfo.status eq 1)"> checked="checked" </if> > <i></i>禁用</label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sort" value="{$authInfo.sort}" placeholder="默认为0" id="sort">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" id="save">保存内容</button>
                                    <button class="btn btn-white" type="button" onclick="history.go(-1);">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //定义全局变量
        var GV = {
            auth_editauth : "{:U('auth/editauth')}"
        };
    </script>
    <script src="__JS__/http/auth/editauth.js"></script>
</block>