<extend name="Public/common" />
<block name="body">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>运动会列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3" style="float: right;">
                            <!-- <div class="input-group">
                                <input type="text" placeholder="请输入主题" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                            </div> -->
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>主题</th>
                                <th>时间</th>
                                <th>地点</th>
                                <th>主办方</th>
                                <th>承办方</th>
                                <th>负责人</th>
                                <th>联系方式</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="sportslist" id="sportslist">
                                <tr>
                                    <td>
                                        <input type="checkbox" class="i-checks" name="id[]" value="{$sportslist.id}">
                                    </td>
                                    <td>{$sportslist.theme}</td>
                                    <td>
                                        {$sportslist.start_time}至{$sportslist.end_time}
                                    </td>
                                    <td>
                                        {$sportslist.address}
                                    </td>
                                    <td>
                                        {$sportslist.host}
                                    </td>
                                    <td>
                                        {$sportslist.undertake}
                                    </td>
                                    <td>
                                        {$sportslist.header}
                                    </td>
                                    <td>
                                        {$sportslist.phone}
                                    </td>
                                    <td>
                                        <a href="{:U('Sports/detailSports',['id'=>$sportslist['id']])}"><button type="button" class="btn btn-outline btn-primary btn-xs">详情</button></a>
                                        <a href="{:U('Sports/editSports',['id'=>$sportslist['id']])}"><button type="button" class="btn btn-outline btn-default btn-xs">编辑</button></a>
                                        <a href="{:U('User/delete',['id'=>$sportslist['id'],'tableName'=>'Sports'])}" class="ajax-delete"><button type="button" class="btn btn-outline btn-warning btn-xs">删除</button></a>                                    </td>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;">{$page}</div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="__JS__/http/ajax.js"></script>
</block>